/* Step-2 You can assign padding to all sides of a container by using the padding property. */

.content-left {
  
}

/* Step 2 You can assign padding to all sides of a container by using the padding property. */

.header {
  
}


/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-image-container {
    background: #96F0F2;
    width: auto;
    height: auto px ;
    padding: 150px;
    margin: 25px;
}

/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-links-container {
    background: #12F3F7;
    width: auto;
    height: 425px;
    padding: 100px;
    margin: 25px;
}

/* Step-2 You can either use float left or position absolute to get this element to in the desired location. */

.logo-container {
    background: #4F4949;
    float: left;
    padding: 20px;
    margin-left: 21px;
    margin-top: 20px;
    width: 380px;
    height: 55px;
}


/* Step-2 You can either use float right or position absolute to get this element to in the desired location. */

.menu-container {
    background: #4F4949;
    float: right;
    margin: 20px 25px;
    padding: 20px;
    width: 50px;
    height: 55px;
}



